*.class
*.log

# sbt specific
.cache
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/build.property
project/plugins/project/
project/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
.idea

# local temp
t/
lib/
spark-warehouse/

# python stuff
Pipfile*
test-report
*.egg-info/
.pytest_cache/
